/* This font-face declaration must be outside your theme mixin. */
@font-face {
  font-family: 'Vaadin-Icons';
  src: url('fonts/Vaadin-Icons.eot');
  src: url('fonts/Vaadin-Icons.eot?#iefix') format('embedded-opentype'),
  url('fonts/Vaadin-Icons.woff') format('woff'),
  url('fonts/Vaadin-Icons.ttf') format('truetype'),
  url('fonts/Vaadin-Icons.svg#icomoon') format('svg');
}
.Vaadin-Icons {
  font-family: 'Vaadin-Icons';
}

// uncomment for dark style
//@import "variables_dark";
@import "../valo/valo";

@mixin taboo {
  @include valo;

  // cells of the bookmarks table
  .v-table-bookmarks-table .v-table-cell-content {
    height: 85px;
  }

  .v-table-bookmarks-table .bookmark-title {
    font-size: larger;
    //margin-bottom: 15px;
  }

  .v-table-bookmarks-table .bookmark-url {
    //margin-bottom: 15px;
  }

  .v-table-bookmarks-table .bookmark-tags {
    font-size: smaller;
    //margin-bottom: 5px;
  }

  // Taglist layout
  .v-csslayout-taglist .taglist-entry {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@include taboo;
