@import "../valo/valo.scss";

@mixin taboo {
  @include valo;

  // cells of the bookmarks table
  .v-table-bookmarks-table .v-table-cell-content {
    height: 75px;
  }

  .v-table-bookmarks-table .bookmark-title {
    font-size: larger;
    //margin-bottom: 15px;
  }

  .v-table-bookmarks-table .bookmark-url {
    //margin-bottom: 15px;
  }

  .v-table-bookmarks-table .bookmark-tags {
    font-size: smaller;
    //margin-bottom: 5px;
  }

  // Taglist layout
  .v-csslayout-taglist .taglist-entry {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@include taboo;
